@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root{
  --primary-green: #3ac280;
  --secondary-grey: #4a4848;
}

html{
  font-size: 16px;
}

h1{
  font-weight: 600;
}
h2{
  font-weight: 500;
}
h3,h4,h5,h6{
  font-weight: 400;
}

.container{
  width: 90%;
  margin: 0px auto;
  padding: 15px;
  /* overflow: hidden; */
}

nav{
  background-color: #fff;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px #bababa;
  z-index: 1000;
  border-bottom: 1px solid #bababa;
}
nav .brand{
  width: 20%;
}
.brand img{
  width: 100%;
}
nav ul{
  padding: 15px;
  display: flex;
  align-items: center;
}
nav ul li{
  list-style-type: none;
}

nav ul li:last-child a{
  background-color: var(--primary-green);
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
}

nav ul li a{
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.727rem;
  color: #7e7a7a;
}


/* header */
header{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -65px;
  z-index: -1;
}

header h2{
  text-align: center;
  margin-top: 50vh;
  font-size: 2rem;
  color: #fff;
  z-index: 2;
}
header video{
  position: absolute;
  top: -100px;
  left: 0px;
  width: 115%;

  z-index: -1;
}

/* mitigation */
.mitigation{
  width: 100%;
}
.mitigation div{
  display: flex;
  justify-content: center;
}
.mitigation div div{
  padding: 100px 0px 50px;
  width: 100%;
}
.mitigation div div:first-child{
  background-image: url("/src/res/img/o.png");
  background-position: 0px 16px;
  background-repeat: no-repeat;
  background-size: 150px;
}

.mitigation div div h2{
  text-align: left;
  width: 60%;
  font-size: 2.5rem;
}
.mitigation div div p{
  line-height: 35px;
  font-size: 1.128rem;
}

/* comparison slider */
.comparison_slider{
  /* background-color: red; */
  width: 100%;
  position: relative;
  overflow: hidden;
}
.comparison_slider .img{
  height: 700px;
  margin-left: 5rem;
  width: 100%;
  display: flex;
}
.comparison_slider .img .left,
.comparison_slider .img .right{
  height: 100%;
  top: 0;
}

.comparison_slider .img .left{
  background: url("/src/res/img/postmitigation.jpg") no-repeat ; 
  width: 50%;
  position: absolute;
  top: 15px;
}

.comparison_slider .img .right{
  background: url("/src/res/img/premitigation.jpg") no-repeat ;
   width: 100%;
}

.comparison_slider .controller{
  margin-left: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.comparison_slider #slider{
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.comparison_slider #slider::-webkit-slider-thumb{
  height: 486px;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}

.controller .arrows{
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 49.85%;
  pointer-events: none;
}

.controller .arrows::before,
.controller .arrows::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 222px;
  background: var(--primary-green);
}

.controller .arrows::before{
  top: 0;
}
.controller .arrows::after{
  bottom: 0;
}

.controller .arrows .icons{
  position: absolute;
  left: -50px;
  top: 45%;
  display: flex;
  background: var(--primary-green);
  border-radius: 20px;
}
.controller .arrows .icons span{
  color: #fff;
  cursor: ew-resize;
  padding: 10px 15px;
}

.comparison_slider a{
  background-color: var(--primary-green);
  padding: 12px 50px;
  font-size: 0.827rem;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}

/* howitworks */
.howitworks{
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
  background: rgba(10,81,105,.05);
}
.howitworks .title{
  height: 200px;
  text-align: center;
  background-image: url("/src/res/img/o.png");
  background-position: 50% 30px;
  background-repeat: no-repeat;
  background-size: 160px;
}
.howitworks .title h2{
  padding-top: 80px;
  font-size: 2.5rem;
}
.boxs{
  width: 100%;
  display: flex;
}
.boxs .box{
  display: flex;
  align-items: center;
}
.boxs .box h3{
  font-size: 8rem;
  color: #0a5169;
}
.boxs .box h3::before{
  position: absolute;
  z-index: -1;
  content: "";
  width: 200px;
  height: 200px;
  padding: 15px;
  background: url("/src/res/img/round.png") no-repeat 80px;
  background-position: 5px;
}

.boxs .box .body{
  margin-left: 40px;
  margin-bottom: 40px;
}

.boxs .box p{
  font-size: 0.827rem;
}
.howitworks .link{
  margin-top: 125px;
  width: 100%;
  text-align: center;
}
.howitworks .link a{
  background-color: var(--primary-green);
  padding: 12px 50px;
  font-size: 0.827rem;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

/* waterfallfee */
.waterfallfee{
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
}
.waterfallfee .title{
  width: 100%;
  height: 200px;
  text-align: center;
  background: url("./res/img/o.png") no-repeat;
  background-position: 50% 0px;
  background-size: 160px;

}

.waterfallfee .title h2{
  padding-top: 50px;
  font-size: 2.5rem;
}

.waterfallfee .rangbar{
  position: relative;
  top: 120px;
  height: 200px;
  width: 80%;
  margin: 0px auto;
}

.waterfallfee #waterfallfee{
  border-radius: 20px;
  background-color: #dff1eb;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
}

.waterfallfee #waterfallfee::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;
  z-index: 3;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.waterfallfee .rangbar .selector{
  z-index: 2;
  position: absolute;
  top: -7px;
  left: 0%;
  width: 200px;
  height: 200px;
}

.rangbar .selector .thumb{
  position: absolute;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 4px solid var(--primary-green);
  border-radius: 50%;
  cursor: pointer;
}

.rangbar .progress{
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 0%;
  height: 15px;
  border-radius: 20px;
  width: 1%;
  background-color: rgb(10, 81, 105);
}

.rangbar .card{
  position: absolute;
  background-color: #dff1eb;
  top: -100px;
  width: 150px;
  height: 80px;
  margin-left: -60px;
  text-align: center;
  padding: 20px 0px;
  border-radius: 5px;
  color:  rgb(10, 81, 105);
}
.rangbar .card::before{
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 10%;
  left: 35%;
  border-top: 17px solid  #dff1eb;
  border-left: 24px solid  #dff1eb;
  border-right: 24px solid  #dff1eb;
  transform: rotate(125deg);
}


.waterfallfee .limit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.waterfallfee .limit span{
  margin-top: 40px;
  text-align: center;
  font-size: 0.7rem;
  color: rgb(10, 81, 105);
}
.waterfallfee .limit span::before{
  content: "";
  position: absolute;
  top: 20px;
  margin-top: 10px;
  margin-left: 2%;
  width: 2px;
  height: 25px;
  background-color: #dff1eb;
}
.waterfallfee .limit span:first-child::before{
  margin-left: -0%!important;
}

.waterfallfee .info{
  width: 45%;
  margin: 50px auto;
}
.waterfallfee .info p{
  text-align: center;
  font-size: .880rem;
}

.waterfallfee .fee{
  width: 100%;
}
.waterfallfee .fee .body{
  position: relative;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(10, 81, 105);
  margin: 0px auto;
}

.waterfallfee .fee .body .icon{
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
}
.waterfallfee .fee .body .details{
  color: #fff;
  text-align: center;
  padding: 30px;
}
.waterfallfee .fee .body .details b{
  font-size: 1.5rem;
}
.waterfallfee .fee .body .details p{
  font-size: 0.827rem;
}
.waterfallfee .fee .body .details span{
  position: absolute;
  bottom: -50px;
  left: 45px;
  color: rgb(10, 81, 105);
}

/* example deliverables */
.ExampleDeliverables{
  margin-top: 150px;
  padding-top: 50px;
  width: 100%;
  background-color: rgba(10,81,105,.05);
}

.ExampleDeliverables .title{
  width: 100%;
  height: 200px;
  text-align: center;
  background: url("./res/img/o.png") no-repeat;
  background-position: 50% 0px;
  background-size: 160px;

}

.ExampleDeliverables .title h2{
  padding-top: 50px;
  font-size: 2.5rem;
  text-align: center;
}

.ExampleDeliverables  h3{
  font-size: 1.8rem;
  text-align: center;
}
.boxs{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.boxs .box{
  width: 100%;
  user-select: none;
  cursor: pointer;
}
.boxs .box img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
}
/*  */
.immaculateslider h3{
  padding: 20px 0px;
}

.slider{
  height: 100vh;
  overflow: hidden;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.carousel__viewport {
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 50%!important;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__slide img{
  width: 100%;
  height: 100%;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 50%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -4rem;
}

.carousel::after,
.carousel__next {
  right: -4rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: var(--primary-green);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* trueplan */
.trueplan{
  padding: 50px;
}
.trueplan h3{
  padding: 20px 0px;
}

